@import url(style.css);

.dialog {
    top: 0px;
    left: 0px; 
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
}

.modalWrapper{
    overflow: auto;
    width: 430px;
    min-height: 400px;
    max-height: 80vh;
    background-color: #fff;
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
}

.modal{
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeBar{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.gallerieModale{
    width: 75%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.gallerieModale figure{
    height: 100px;
    width: 76px;
}

.gallerieModale figure img {
    height: 100px;
    object-fit: cover;
}

.btnIcons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: relative;
    top: -98px;
}

.trash{
    background-color: black;

    border-radius: 2px;
    color: #fff;
    font-size: 10px;
    width: 18px;
    height: 18px;
    margin-right: 4px;
    opacity: 0.6;
}

.move{
    opacity: 0;
    background-color: black;
    border-radius: 2px;
    color: #fff;
    font-size: 10px;
    width: 18px;
    height: 18px;
    margin-right: 4px;
}

figure:hover .move{
    opacity: 0.6;
}

figure:hover .move:hover{
    opacity: 1;
}

.trash:hover{
    opacity: 1;
}

.gallerieModale figure img:hover{
    cursor: move;
}