@import url(style.css);

.dialog {
    top: 0px;
    left: 0px; 
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
}

.modalWrapper{
    overflow: auto;
    width: 430px;
    max-height: 80vh;
    background-color: #fff;
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
}

.modal{
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeBar{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.closeBar2{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.gallerieModale{
    width: 75%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.gallerieModale figure{
    height: 100px;
    width: 76px;
}

.gallerieModale figure img {
    height: 100px;
    width: 76px;
    object-fit: cover;
}

.btnIcons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: relative;
    top: -98px;
}

.trash{
    background-color: black;

    border-radius: 2px;
    color: #fff;
    font-size: 10px;
    width: 18px;
    height: 18px;
    margin-right: 4px;
    opacity: 0.6;
}

.move{
    opacity: 0;
    background-color: black;
    border-radius: 2px;
    color: #fff;
    font-size: 10px;
    width: 18px;
    height: 18px;
    margin-right: 4px;
}

figure:hover .move{
    opacity: 0.6;
}

figure:hover .move:hover{
    opacity: 1;
}

.trash:hover{
    opacity: 1;
}

.gallerieModale figure img:hover{
    cursor: move;
}

/* css formulaire modal 2 */

.ajoutPhoto {
    display: flex;
    flex-direction: column;
    width: 75%;
    text-align: left;
    margin-top: 50px;
  }
  

.fa-2xl{
    font-size: 5rem;
    line-height: 5rem; 
}

select {
    margin-bottom: 50px;
    background-color: white;
    height: 50px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 1rem;
    padding-left: 12px;
	color: var(--green);
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border: 0px;
  }
  
  .ajoutPhoto input[type="submit"] {
    width: 267px;
    margin-top: 20px;
    background-color: #a7a7a7;
  }
  
  .sectionAjouterPhoto {
    background-color: #e8f1f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin-bottom: 7px;
  }
  
  .sectionAjouterPhoto p {
    color: #444444;
    margin: 0 0 10px 0;
    font-size: 11px;
  }
  
  .sectionAjouterPhoto p:hover {
    opacity: 1;
  }
  
  .fa-image {
    display: block;
    color: #b9c5cc;
    margin-bottom: 15px;
  }
  
  .zone-inputFile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .photoAjouter {
    margin-top: 0;
    height: fit-content;
    border: none;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .photoAjouter img:hover {
    opacity: 0.8;
  }
  
  .photoAjouter img {
    width: 100%;
    height: 100%;
    display: block;
  }
  input[type="file"] {
    height: 0;
    width: 0;
    overflow: hidden;
  }
  
  input[type="file"] + label {
    font-family: sans-serif;
    background: #cbd6dc;
    padding: 10px 30px;
    border: 2px solid #cbd6dc;
    border-radius: 20px;
    color: #306685;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  input[type="file"] + label:hover {
    opacity: 0.6;
  }
  